<h1>My cocktail list</h1>
<!-- <h1>Cocktails#index</h1>
<p>Find me in app/views/cocktails/index.html.erb</p> -->
<%= link_to "Index", cocktails_path %>
<%= link_to "Add cocktail", new_cocktail_path %>
<ul>
  <% @cocktails.each do |cocktail| %>
  <li>
    <%= link_to cocktail.name, cocktail_path(cocktail) %>
  </li>
  <% end %>
</ul>

